@import "./mixins";

%h1 {
  font-family: var(--font-helvetica), sans-serif;
  font-size: VW(110);
  font-style: normal;
  font-weight: bold;
  line-height: 90%;
  letter-spacing: -0.2vw;
}

%body-text {
  font-family: var(--font-helvetica), sans-serif;
  font-size: VW(20);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.04vw;
}

.bold {
  font-weight: 700;
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }
}
